.footer {
  
  background: linear-gradient(to bottom, var(--layout), var(--layout-dark));
  padding: 1rem;
  color: #fff;
  text-align: center;
}

.footer a {
  color: #fff;
  font-family: 'MedievalSharp', cursive;
  font-size: 12px;
  text-decoration: none;
}

.footer a:active {
  color: black;
}