
.news {
  display: flex;
  padding: 5px;
  justify-content: center;
  border-bottom: 1px solid #ccc;
  background: linear-gradient(to bottom, var(--layout), var(--layout-dark));
}

.news span {
  text-align: center;
  color: var(--text-color);
  font-size: 10px;
}
