.play {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  color: var(--text-color);
  background-color: var(--section-color);
}

.play .content {
  padding: 20px 4px;
  border-radius: 10px;
  background-color: #3b96be;
  border: 3px solid white;
  justify-content: space-between;
}

.play .content h1 {
  margin: 0;
  font-size: 40px;
  font-family: 'Panton';
  text-transform: uppercase;
  text-shadow: 0px 4.5px 0px #00000040;
}

.play .content p {
  margin: 5px !important;
}

.play-copy-alert {
  right: 20px;
  bottom: 60px;
  padding: 10px;
  border-radius: 20px;
  display: none;
  position: fixed;
  text-transform: uppercase;
  border: 1.8px solid #fff;
  font-family: 'Panton', sans-serif;
  background: linear-gradient(to bottom, var(--layout), var(--layout-dark));
  text-shadow: 0px 1.5px 0px rgb(0 0 0 / 25%);
}

.play-copy-alert.show {
  opacity: 1;
  display: block;
}    

.play-images img {
  width: 180px;
  height: 140px;
}

@media screen and (min-width: 320px) and (max-width: 999px) {

  .play img {

    display: none;
  }

  .play {
    padding: 20px 20px 30px 25px;
  }

  .play .content {
    padding: 20px 15px;
  }

  @media screen and (min-width: 375px) {
    .play .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .play img {
      display: block;
    }

    .play-img-2 {
      display: none;
    }
  }

  @media screen and (min-width: 767px) {
    .play {
      padding: 50px;
    }

    .play .content {
      padding: 30px;
    }
  }
}