.card {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1.8px solid #8b4d13;
  background-image: url('https://cdn.discordapp.com/attachments/1077666564880486503/1103428679071174686/Antique_Vintage_Fundo_De_Papel_Envelhecido.jpg');
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.card-img {
  width: 150px;
  padding: 20px;
  box-shadow: inset 0 0 10px 10px #0e0e0fa6;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.card-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

h1 {
  color: #fff;
  font-size: 16px;
  font-family: 'Old Standard TT', serif;
  text-shadow: 2px 2px #000;
  text-align: center;
}

.player-name {
  border: 1px solid #8b4d13;
  background-color: rgba(139, 69, 19, 0.05);
  border-radius: 30px;
  padding: 6px;
  box-shadow: inset 0 0 10px rgba(139, 69, 19, 0.2);
  background-image: linear-gradient(to bottom, rgba(139, 69, 19, 0.2) 0%, rgba(139, 69, 19, 0.1) 50%, rgba(139, 69, 19, 0.2) 100%);
  background-size: 100% 30px;
  background-repeat: repeat-y;
  text-align: center;
  font-size: 32px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  letter-spacing: 2px;
  color: rgba(139, 69, 19, 0.8);
}

.card-button {
  background-color: #fdcc70;
  padding: 10px;
  color: #2c3e50;
  border-radius: 30px;
  border-radius: 5px;
  cursor: pointer;
  width: 20%;
  margin: 10px;
  transition: background-color 0.3s ease;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}


.card-button:focus {
  outline: none;
}

.card-button:hover {
  opacity: 0.41;
  text-shadow: 2px 1px 0px #000000;
  box-shadow: 5px 2px 3px #000000;
}

.card-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}

.platina-card,
.prata-card,
.ouro-card {
  background-color: #f5deb3;
  padding: 12px;
  border: 1.8px solid #8b4d13;
  border-radius: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 30%;
}

.card-stats > div:not(:last-child) {
  margin-right: 10px;
}

.platina-card h3,
.prata-card h3,
.ouro-card h3 {
  font-size: 18px;
  margin-bottom: 4px;
  margin-top: 0;
  color: #2c3e50;
  text-shadow: 1px 1px #fff;
}

.platina-card p,
.prata-card p,
.ouro-card p {
  font-size: 12px;
  margin-top: 3px;
  font-weight: bold;
  color: #2c3e50;
  text-shadow: 1px 1px #fff;
}

.card-buttons button {
  margin-right: 10px;
}

.card-icon {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  filter: drop-shadow(1px 1px #000);
}

.platina-card .card-icon {
  content: url('https://cdn.discordapp.com/attachments/1077666564880486503/1112096621057024210/icons8-prata-96-1.png');
}

.prata-card .card-icon {
  content: url('https://cdn.discordapp.com/attachments/1077666564880486503/1112095986765013033/icons8-prata-96.png');
}

.ouro-card .card-icon {
  content: url('https://cdn.discordapp.com/attachments/1077666564880486503/1112094530892734564/icons8-ouro-96.png');
}

.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  width: 30%;
  text-align: center;
}

.card-item h3 {
  font-size: 18px;
  margin-bottom: 8px;
  color: #2c3e50;
  text-shadow: 1px 1px #fff;
}

.card-item p {
  font-size: 12px;
  font-weight: bold;
  color: #2c3e50;
  text-shadow: 1px 1px #fff;
  margin-bottom: 10px;
}

.card-item .card-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  filter: drop-shadow(1px 1px #000);
}

h5 {
  text-align: center;
  font-weight: italic;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .container-fluid {
    width: 100%;
    box-sizing: border-box;
  }
  
  .card {
    width: 100%;
    box-sizing: border-box;
  }
}