@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

@import url('https://fonts.googleapis.com/css?family=MedievalSharp');

@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer&display=swap');

/* all colors used on Kettra's website  */

:root {
  --layout: #b85870;
  --layout-dark: #b05068;
  --cookie: #443f3f;
  --cookie-button: #b05068;
}

/* start background screen view */

.challenge {
  background-color: #000000;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  min-height: 100vh;
  overflow-y: auto;
  padding: 0;
}

/* end background screen view */

header.section {
  padding-top: 1px;
  padding-bottom: 1px;
}

a {
  color: #fff;
  font-family: Gill Sans, sans-serif;
  text-decoration: none;
}

a:active,
a:hover {
  text-decoration: none;
  color: black;
}

.section {
  background-color: transparent;
  margin-top: 1px;
  padding: 3px;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}

.column {
  box-sizing: 0;
  flex: 1;
  outline: 0;
  padding: 10px;
}

.article {
  background-color: #222222;
  border-radius: 5px;
  opacity: 0.9;
  padding: 10px;
}

.article-title {
  background-color: var(--layout);
  font-family: 'Chiller', fantasy;
  box-shadow: 0 0 4px #fff;
  font-weight: bold;
  border-radius: 8px;
  color: #fff;
  font-size: 24px;
  padding: 8px 8px 8px 22px;
  margin: 25px;
}

/*
.article-content {
  margin-top: 20px;
}*/

.footer {
  align-items: center;
  background-color: var(--layout);
  border-radius: 8px;
  bottom: 0;
  color: #fff;
  display: flex;
  height: 50px;
  justify-content: center;
  left: 0;
  padding: 0 20px;
  position: fixed;
  right: 0;
  z-index: 5;
}

.footer a {
  color: #fff;
  font-family: Gill Sans, sans-serif;
  font-size: 12px;
  text-decoration: none;
}

.footer a:active {
  color: black;
}

@media screen and (max-width: 1023px) {
  .section {
    margin-bottom: 60px;
  }
}

.alerta {
  border: 1.2px solid #fff;
  padding: 6px;
  text-align: center;
  border-radius: 8px;
  font-size: 13px;
}

.alerta a {
  font-style: italic;
  text-decoration: underline;
}

.error {
  border-color: #fff;
  color: #fff;
  background-color: var(--layout-dark);
}

.box {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 13px;
  padding-bottom: 10px;
  box-shadow: 1px 1px 4px #ccc;
}

label {
  font-family: American Typewriter, serif;
  font-size: 14px;
  color: #fff;
}

.form-control {
  background-color: #202020;
}

.form-control::placeholder {
  color: #bababa8c;
}

.form-control[type='text'],
.form-control[type='email'],
.form-control[type='select'] {
  color: #ffffffb9;
  border: 2.3px solid #b05068;
  background-color: transparent;
}

.card-rpg {
  background-color: #f5deb3;
  border: 1.8px solid #8b4d13;
  font-family: 'Old Standard TT', serif;
  padding: 20px;
  box-shadow: 3px 3px 6px #fff;
  text-align: justify;
  line-height: 1.5;
  font-size: 16px;
  /*margin: 10px;*/
}

.card-text-rpg {
  color: black;
  font-family: 'UnifrakturMaguntia', serif;
}

.title-rpg {
  color: black;
  text-align: center;
  font-style: bold;
  padding-top: 8px;
  padding-bottom: 8px;
}

.img-rpg {
  border: 2px solid #8b4d13;
  box-shadow: 0px 2px 4px #8b4d13;
}

.cookie {
  display: none;
  position: fixed;
  border: 1.6px solid #b05068;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 13px;
  padding: 7px;
  box-sizing: border-box;
  background-color: var(--cookie);
  color: #fff;
  font-family: 'Kalam', cursive;
  font-size: 14px;
  z-index: 20;
  text-align: center;
}

.cookie a {
  color: var(--cookie-button);
  font-weight: bold;
  text-decoration: underline;
}

.cookie button {
  display: flex;
  margin: 6px auto 0;
  padding: 4px 10px;
  background-color: var(--cookie-button);
  color: #fff;
  font-family: 'IM Fell Great Primer', serif;
  font-size: 14px;
  border-radius: 15px;
  cursor: pointer;
}

.cookie button:focus {
  outline: none;
}

.cookie button:hover {
  opacity: 0.41;
  text-shadow: 2px 1px 0px #000000;
  box-shadow: 5px 2px 3px #000000;
}

.loading {
  animation: loading 2s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

.card-text-loja,
.valor {
  color: #fff;
  text-align: center;
  padding: 2px;
  font-size: 12px;
}

#cards-loja {
  max-width: 70%;
  color: #fff;
  margin-left: 15%;
  object-fit: contain;
}

.card-title {
  margin-bottom: -0.5rem;
  font-weight: 600;
  font-size: 20px;
  font-family: 'Amatic SC', cursive;
}

.center {
  display: flex;
  justify-content: center;
}

.valor {
  color: #fff !important;
  font-size: 16px;
  padding: 8px;
  font-family: arial;
  background: linear-gradient(to bottom, #b85870, #b85867);
  border-radius: 10px;
  border: 1px solid #fff !important;
  text-shadow: 0px 1px 2px #000000;
}

.valor:focus {
  outline: none;
}

.valor:hover {
  opacity: 0.41;
  text-shadow: 2px 1px 0px #000000;
  box-shadow: 5px 2px 3px #000000;
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  height: auto;
  object-fit: contain;
  margin-top: 10px;
}

.rank {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rank-card {
  width: calc(33.33% - 20px);
  align-items: center;
  align-content: center;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px;
  border-radius: 14px;
  background-image: url('https://cdn.discordapp.com/attachments/1077666564880486503/1103428679071174686/Antique_Vintage_Fundo_De_Papel_Envelhecido.jpg');
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.rank-card p {
  font-size: 14px;
  font-family: Courier New, monospace;
  margin-top: 5px;
  margin-bottom: 5px;
}

.rank-card__title {
  margin: 5px;
  text-align: center;
  font-family: Andale Mono, monospace;
  font-size: 18px;
  font-weight: italic;
  max-width: 100%;
  overflow-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (max-width: 720px) {
  .rank-card {
    width: 100%;
    margin-right: 0;
  }
  
  .rank {
    flex-direction: column;
    align-items: center;
  }
  
  .rank-card__title {
    font-size: 16px;
  }
  
  .rank-card p {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  .img-rpg {
    max-width: 85%;
    display: block;
    margin: 0 auto;
  }
}

.page-btn {
  font-size: 16px;
  padding: 6px 10px;
  border-radius: 80px;
  margin-right: 10px;
  background: transparent;
}

.page-btn:last-child {
  margin-right: 0;
}

.page-btn:hover {
  background-color: transparent;
}

.page-btn:focus {
  outline: none;
}

.page-btn:active {
  transform: scale(0.95);
}

.page { 
  display: none; 
} 

.page:first-child { 
  display: block; 
} 