.banner {
	padding: 50px 30px;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
  border-bottom: 1px solid #ccc;
	background-image: url(../../img/background/background.webp);
}

.banner-text {
	text-align: center;
	text-transform: uppercase;
	color: var(--text-color);
}

.banner h1 {
	margin: 2px;
	font-weight: bold;
	font-size: 25px;
	white-space: nowrap;
	text-shadow: 0px 4.5px 0px #555;
}

.banner span {
	font-size: 12px;
	text-transform: initial;
	text-shadow: 0px 1.5px 0px #555;
}
