loader .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
loader .wrapper .loader {
  display: flex;
  justify-content: space-evenly;
  padding: 0 20px;
}
loader .loader .loading {
  background: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin: 0 10px;
  animation: loader 0.8s infinite;
}
loader .loader .loading.one {
  animation-delay: 0.3s;
}
loader .loader .loading.two {
  animation-delay: 0.4s;
}
loader .loader .loading.three {
  animation-delay: 0.5s;
}
@keyframes loader {
  0% {
    width: 30px;
    height: 30px;
  }

  50% {
    width: 20px;
    height: 20px;
  }
}

.loading {
  animation: loading 2s linear infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}