@charset "UTF-8";

:root {
  --layout: #8a2be2;
  --layout-dark: #483d8b;
  --background-color: #000000;
  --section-color: #222222;
  --text-color: #fff;
  --text-shadow-color: #555;
  --border-color: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100vh;
  font-family: 'MedievalSharp', cursive !important;
  background-color: black !important;
}

ui {
  display: none;
}

loader .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
loader .wrapper .loader {
  display: flex;
  justify-content: space-evenly;
  padding: 0 20px;
}
loader .loader .loading {
  background: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin: 0 10px;
  animation: loader 0.8s infinite;
}
loader .loader .loading.one {
  animation-delay: 0.3s;
}
loader .loader .loading.two {
  animation-delay: 0.4s;
}
loader .loader .loading.three {
  animation-delay: 0.5s;
}
@keyframes loader {
  0% {
    width: 30px;
    height: 30px;
  }

  50% {
    width: 20px;
    height: 20px;
  }
}

.loading {
  animation: loading 2s linear infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

section {
  border-radius: 1rem;
  padding: 10px;
  opacity: 0.9;
  margin: 8px;
}
.header-news {
  display: flex;
  padding: 5px;
  justify-content: center;
  background: linear-gradient(to bottom, var(--layout), var(--layout-dark));
}

.header-news span {
  text-align: center;
  color: var(--text-color);
  font-size: 10px;
}

.header-head {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
  background-image: url("../images/background/header.gif");
  background-size: cover;
  text-align: center;
  padding: 10px;
  color: var(--text-color);
}

.header-head h1 {
  margin: 5px;
  font-size: 55px;
  font-weight: bold;
  text-shadow: 0px 3px 0px var(--text-shadow);
}

.header-head span {
  font-size: 10px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 3px 0px var(--text-shadow);
}

.header-body {
  padding: 50px 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  background-image: url(../images/background/body.gif);
}

.header-body-text {
  align-content: center;
  align-content: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-color);
}

.header-body h1 {
  margin: 5px;
  font-weight: bold;
  font-size: 25px;
  white-space: nowrap;
  text-shadow: 0px 4.5px 0px #555;
}

.header-body span {
  font-size: 12px;
  text-transform: initial;
  text-shadow: 0px 1.5px 0px #555;
}

.header-body button {
  margin: 0 !important;
  text-align: center;
  color: #fff !important;
  font-size: 1.8rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.header-body button:active {
  transform: translateY(4px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 320px) {

  .header-head {
    height: auto;
    padding: 10px;
  }

  .header-head h1 {
    font-size: 50px;
    margin: 5px;
  }

  .header-head span {
    font-weight: 300;
    text-align: center;
    font-size: 10px;
  }

}

@media screen and (min-width: 720px) {

  .header-head {
    height: auto;
    padding: 20px;
  }

  .header-head h1 {
    font-size: 50px;
    font-weight: bold;
  }

  .header-head span {
    font-weight: 300;
    text-align: center;
    font-size: 12px;
  }
}
#navbar-standing {
  position: relative;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  z-index: 999;
  align-items: center;
  background: linear-gradient(to bottom, var(--layout), var(--layout-dark));
}
#navbar-standing::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  height: 20px;
  background: linear-gradient(to bottom, var(--layout-dark), var(--layout));
  border-radius: 55%;
}
#navbar-standing .status {
  padding: 5px;
  color: var(--text-color);
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  border-radius: 100px;
  background-color: var(--layout-dark);
  transition: background-color 0.3s ease, transform 0.1s ease;
}
#navbar-standing .status:hover,
#navbar-standing .status:active {
  transform: scale(0.95);
}
#navbar-standing .status span {
  font-size: 12px;
  font-family: 'MedievalSharp', cursive;
  color: var(--text-color);
}
#navbar-standing input[type=checkbox] {
  display: none;
}
#navbar-standing .menu-bt {
  z-index: 999;
  cursor: pointer;
}
#navbar-standing .menu-bt:before {
  display: block;
  line-height: initial;
  width: 25px;
  height: 25px;
  font-family: "Material Design Icons";
  font-size: 25px;
  font-weight: normal;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: var(--text-color);
}
#navbar-standing .menu-bt.right:before {
  content: "\eb41";
  font-family: 'boxicons';
}
#navbar-standing #menu-right:checked + .menu-bt:before {
  color: var(--text-color);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
#navbar-standing [id*=menu-]:checked + .menu-bt:before {
  color: var(--text-color);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
#navbar-standing [id*=menu-]:checked + .menu-bt:before {
  content: "\eb40";
}
#navbar-standing .nav-menu {
  position: fixed;
  top: 0;
  z-index: 998;
  height: 100vh;
  width: 80%;
  max-width: 320px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  box-shadow: 0 0 12px rgba(0,0,0,0), 0 0 32px rgba(0,0,0,0);
}
#navbar-standing .nav-menu.right {
  -webkit-transform: translate(100%);
  -ms-transform: translate(100%);
  -o-transform: translate(100%);
  transform: translate(100%);
}
#navbar-standing [id*=menu-]:checked ~ .nav-menu {
  box-shadow: 0 0 12px rgba(0,0,0,0.1), 0 0 32px rgba(0,0,0,0.2);
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
  transform: translate(0);
}
#navbar-standing .nav-menu.right {
  right: 0;
}
#navbar-standing .nav-menu h5 {
  color: rgba(255,255,255,0.5);
  font-size: 0.85em;
  margin: 0;
  text-transform: uppercase;
  padding: 32px 24px 14px 24px;
}
#navbar-standing .nav-menu h5:after {
  content: "";
  display: block;
  width: 3em;
  margin-top: 5px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
#navbar-standing .nav-menu a {
  display: block;
  color: var(--text-color);
  padding: 14px 8px 14px 58px;
  text-decoration: none;
  position: relative;
  border-radius: 3px;
}
#navbar-standing .nav-menu a:before {
  margin-right: 14px;
  font-size: 24px;
  left: 20px;
  top: 9px;
  position: absolute;
}
#navbar-standing .nav-menu .menu-scroll {
  height: calc(100vh - 72px);
  overflow-y: auto;
  padding: 0 8px 24px 8px;
  width: 100%;
  margin-right: 8px;
}
#navbar-standing .nav-menu.right {
  background: #222;
}
#navbar-standing .nav-menu.right a:hover {
  background-color: var(--layout-dark);
}
section.main {
  background-color: var(--section-color) !important;
}

section.main .title {
  background: linear-gradient(to bottom, var(--layout), var(--layout-dark)) !important;
  text-align: center;
  font-weight: bold;
  border-radius: 1.5rem;
  color: var(--text-color);
  padding: 0.5rem;
  font-size: 1.5rem;
  margin: 0.5rem;
}

shop.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #484848c8;
  padding: 1rem 1.5rem;
  border-radius: 12px;
  max-height: 460px;
  margin: 10px
}
shop.card .icon {
  width: 85px;
  height: 85px;
}
shop.card img {
  width: 100%;
}
shop.card h3 {
  color: var(--text-color);
  font-size: 19px;
  margin: 10px;
  text-align: center;
  font-family: 'medieval';
}
shop.card span {
  font-weight: 300;
  max-width: 240px;
  font-family: 'medieval';
  color: var(--text-color);
  font-size: 80%;
  margin-bottom: 16px;
}
shop.card button {
  padding: 0.5rem 1rem;
  border: 1.8px solid #fff;
  text-transform: uppercase;
  border-radius: 32px;
  cursor: pointer;
  font-size: 80%;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 16px;
}
shop.card button.shop {
  background: linear-gradient(to right, var(--layout), var(--layout-dark));
}
shop.card button.shop.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
shop.card.shop {
  box-shadow: 20px 20px 50px -30px #afd6ff;
}

#shop {
  border: 1px solid var(--layout-dark);
  padding: 20px;
  border-radius: 13px;
  padding-bottom: 10px;
  box-shadow: 1px 1px 4px var(--layout);
}
#shop .label {
  font-family: none;
  margin: 0 5px;
  font-size: 16px;
  font-weight: bold;
  color: var(--text-color);
}
#shop .form-control {
  color: var(--text-color);
  margin: 5px;
  border-radius: 10px;
  border: 2.3px solid var(--layout-dark) !important;
  background-color: transparent !important;
}
#shop .form-control::placeholder {
  color: #afafaf !important;
}
#shop .input-group-append {
  margin: 5px;
}
#shop .finish {
  padding: 0.5rem 1rem;
  background: linear-gradient(to right, var(--layout), var(--layout-dark));
  border: 1px solid var(--layout-dark);
  text-transform: uppercase;
  border-radius: 32px;
  cursor: pointer;
  margin: 5px !important;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 16px;
}

#shop .coupon {
  padding: 0.5rem;
  background: linear-gradient(to right, var(--layout), var(--layout-dark));
  border: 0.5px solid var(--border-color);
  text-transform: uppercase;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 1px !important;
  font-weight: bold;
  color: var(--text-color);
}
#shop .coupon:hover {
  animation: click-animation 0.2s forwards;
  transform: scale(1.05);
  background: linear-gradient(to bottom, var(--layout), var(--layout-dark));
}
#shop .coupon:disabled {
  background: linear-gradient(to bottom, var(--layout), var(--layout-dark));
  cursor: not-allowed;
  transform: none;
  opacity: 0.3;
}

#shop .terms .body {
  color: var(--text-color);
  margin: 2px;
  text-align: center;
  line-height: 1.5;
  font-size: 10px;
  transition: color 0.25s ease;
}

#shop a {
  color: #b375eccf;
}

#shop .form-group .row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 5px;
  justify-content: space-evenly;
}
#shop .pay-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: none;
  border-radius: 10px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  flex: 1 0 25%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: var(--text-color);
}
#shop .pay-button:not(.disabled):hover {
  transform: scale(0.9);
  opacity: 8;
}
#shop .select {
  transform: scale(0.9);
  opacity: 8;
}
#shop .disabled {
  opacity: 0.3;
  pointer-events: none;
  cursor: not-allowed;
}

#shop .pay-button.pix {
  background-color: #f5f5f5;
  color: #000;
}
#shop .pay-button.mercado-pago {
  background-color: #004B87;
}
#shop .pay-button.paypal {
  background-color: #0070ba;
}
#shop .pay-button.stripe {
  background-color: #635bff;
}
#shop .pay-button.picpay {
  background-color: #00bfae;
}
#shop .pay-button.nubank {
  background-color: #820ad1;
}
#shop .pay-button .icon {
  margin-right: 4px;
  font-size: 16px;
}
#shop .pay-button span {
  display: inline-block;
}

@media (min-width: 760px) {
  #shop-itens, #shop-categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
}

.month {
  margin: 0 !important;
  padding: 5px;
  color: var(--text-color);
  text-align: center;
  width: 100% !important;
  box-sizing: border-box;
}
.month p {
  font-size: 1rem;
}
.month .minecraft-head {
  width: 4rem;
  height: 4rem;
  background-image: url('https://images.minecraft-heads.com/render3d/head/d8/d8a2b48e1052f501913676f9c6ae5b5c.webp');
  background-size: cover;
  margin: 0 auto 20px auto;
  border-radius: 10px;
  animation: headAnimation 4s infinite alternate;
}
.month .progress-bar-container {
  background-color: #3a3a3a;
  border-radius: 20px;
  overflow: hidden;
}
.month #progress-text {
  margin: 5px;
}
.month .progress-bar {
  height: 20px;
  width: 0%;
  background-color: var(--layout);
  border-radius: 20px;
}
.top-donate-list {
  margin: 0 !important;
}
.top-donate-list img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 4px;
}
.top-donate-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  margin-bottom: 10px;
  padding: 10px;
  background-color: #2a2a2a;
  border-radius: 4px;
}
.top-donate-list li:hover {
  animation: pulse 2s infinite;
}
.top-donate-info {
  display: flex;
  align-items: center;
}
.top-donate-info span {
  margin: 0 10px;
}
.tooltip {
  --bs-tooltip-bg: var(--layout) !important;
  --bs-tooltip-color: var(--text-color);
}
.ip-message {
  margin: 0;
  padding: 10px;
  color: var(--text-color);
  border-radius: 25px;
  text-align: center;
  background: linear-gradient(to bottom, var(--layout), var(--layout-dark));
  border: 0.3px solid #fff;
  box-shadow: 1.5px 1.5px 5px #555;
  justify-content: space-between;
  animation: bubble-animation 2s infinite;
}
.ip-message p {
  margin: 5px !important;
}
.ip-message button {
  padding: 0.5rem 1rem;
  border: 1px solid #fff;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 16px;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  background: linear-gradient(to bottom, var(--layout), var(--layout-dark));
}
.ip-message button:hover {
  animation: click-animation 0.2s forwards;
  transform: scale(1.05);
  background: linear-gradient(to bottom, var(--layout), var(--layout-dark));
}
.ip-message button:disabled {
  background: linear-gradient(to bottom, var(--layout), var(--layout-dark));
  cursor: not-allowed;
  transform: none;
  opacity: 0.3;
}
.modal .modal-dialog .modal-content {
  color: var(--text-color) !important;
  background-color: var(--section-color) !important;
}
.google {
  display: flex;
  gap: 16px;
}
.google button {
  padding: 8px;
  width: 100%;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-color);
  border: 1px solid var(--layout);
  background: transparent;
  cursor: pointer;
  transition: all 0.6s ease;
}
.google button i {
  font-size: 25px;
}
.google button:hover {
  color: var(--layout-dark);
  border-color: var(--layout-dark);
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

.policy h5 {
  font-size: 1.5em;
  color: var(--layout);
  font-weight: bold;
}
.policy p {
  color: var(--text-color);
  font-weight: lighter;
  padding: 5px !important;
}
.policy ul {
  list-style-type: none;
  padding-left: 25px;
}
.policy li:before {
  content: "\2022";
  color: var(--layout);
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
#cookie {
  background: #232c41;
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-start-start-radius: 50px;
  border-start-end-radius: 50px;
  color: var(--text-color);
  z-index: 999;
  animation: slideInUp 1.2s ease forwards;
}
#cookie p {
  font-size: 13px;
  line-height: 1.8;
  color: var(--text-color);
  margin: 0;
}
#cookie a {
  color: var(--text-color);
  font-weight: bold;
}
#cookie button {
  width: 100%;
  background: transparent;
  border: 1.2px solid #fff;
  color: var(--text-color);
  padding: 10px;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 15px;
  border-radius: 12px;
  cursor: pointer;
}
#cookie .content {
  text-align: center;
  padding: 20px;
  margin: auto;
}
.footer {
  background: linear-gradient(to bottom, var(--layout), var(--layout-dark));
  padding: 1rem;
  color: var(--text-color)f;
  text-align: center;
}

.footer a {
  color: var(--text-color);
  font-family: 'MedievalSharp', cursive;
  font-size: 0.8rem;
  transition: transform 0.4s ease;
  text-decoration: none;
}

.footer a:active {
  transform: scale(0.9);
}

@keyframes pulse {
  0% {
    transform: scale(1);
    background-color: #2a2a2a;
  }
  50% {
    transform: scale(1.05);
    background-color: #3a3a3a;
  }
  100% {
    transform: scale(1);
    background-color: #2a2a2a;
  }
}
@keyframes headAnimation {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}
@keyframes slideInUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideInEnd {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes bubble-animation {
  0% {
    transform: scale(0.98);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.98);
  }
}
@keyframes click-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.category {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2c2c2c; 
    border-radius: 8px;
    padding: 1rem;
    margin: 5px;
    color: var(--text-color);
    cursor: pointer;
}

.category p {
  margin: 0 !important;
  font-size: 1.5rem;
  text-align: center !important;
}

.category:hover {
    transform: translateY(-3px);
}

.category img {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0; 
}
