:root {
  --destaque: #E500FF;
  --destaque-escuro: #E500FF;
  --alinhar-logo: flex-start;
  --botão1: #A020F0;
  --botão2: #00FF00;
  --botão3: #00FFFF;
  --botão4: #FF8C00;
  --gray: #DCDCDC;
  --green: #3fd50f;
  --yellow: #e3a100;
  --red: #ff0048;
  --discord: #5865f2;
  --instagram1: #FF69B4;
  --instagram2: #8a2bc9;
  --instagram3: #f2ae4a;
  --tiktok: #e71c4f;
  --youtube: #FF0000;
  --facebook: #4064ac;
  --twitch: #9046ff;
  --twitter: #00BFFF;
}
.cor-A2A{color:#FF7F00}
.cor-ABC{color: #E700FF}
.cor-CBA{color: #8A2700}
.cor-CBC{color: #0055FF}
button {
  cursor: pointer;
  text-align: center;
  border-radius: 0.5rem;
  font-family: "Poppins", sans-serif;
  color: #fff;
  margin: 1.5rem 1rem;
  background-color: white;
  border-style: none;
  font-size: 1.5rem;
  padding: 0.2rem 1rem;
  -webkit-filter: drop-shadow(8px 8px 1px #e4e4e4);
          filter: drop-shadow(8px 8px 1px #e4e4e4);
  -webkit-transition: 0.1s;
  transition: 0.3s;
}

button:hover {
  border-radius: 0.4rem;
  -webkit-filter: drop-shadow(1px 1px 1px #e4e4e4);
          filter: drop-shadow(1px 1px 1px #e4e4e4);
}

.btn9 {
  background-color: var(--botão1);
  -webkit-filter: drop-shadow(8px 8px 1px #9400D3);
          filter: drop-shadow(8px 8px 1px #9400D3);
}

.btn9:hover {
  -webkit-filter: drop-shadow(1px 1px 1px #9400D3);
          filter: drop-shadow(1px 1px 1px #9400D3);
}
.btn10 {
  background-color: var(--botão2);
  -webkit-filter: drop-shadow(8px 8px 1px #008000);
          filter: drop-shadow(8px 8px 1px #008000);
}

.btn10:hover {
  -webkit-filter: drop-shadow(1px 1px 1px #008000);
          filter: drop-shadow(1px 1px 1px #008000);
}
.btn11 {
  background-color: var(--botão3);
  -webkit-filter: drop-shadow(8px 8px 1px #00CED1);
          filter: drop-shadow(8px 8px 1px #00CED1);
}

.btn11:hover {
  -webkit-filter: drop-shadow(1px 1px 1px #00CED1);
          filter: drop-shadow(1px 1px 1px #00CED1);
}
.btn12 {
  background-color: var(--botão4);
  -webkit-filter: drop-shadow(8px 8px 1px #FFA500);
          filter: drop-shadow(8px 8px 1px #FFA500);
}

.btn12:hover {
  -webkit-filter: drop-shadow(1px 1px 1px #FFA700);
          filter: drop-shadow(1px 1px 1px #FFA700);
}

@media screen and (max-width: 800px) {
  .buttons {
    width: 80px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-image: url('https://media.discordapp.net/attachments/933358218552442951/956941256402018304/download.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

header .navbar {
  background-color: var(--destaque);
  border-radius: 5px;
}

.navbar-item,
.navbar-link {
  color: #fff;
}

.navbar-item svg,
.navbar-link svg {
  margin-right: .25rem;
}

.navbar-dropdown .navbar-item {
  color: #4a4a4a;
}

a.navbar-item:hover, a.navbar-link:hover,
a.navbar-item.is-active, a.navbar-link.is-active,
.navbar-item.has-dropdown:hover .navbar-link,
.navbar-item.has-dropdown.is-active .navbar-link {
  background-color: rgba(0, 0, 0, .25);
  color: #fff;
}

.navbar-link:not(.is-arrowless)::after {
  border-color: #fff;
}

.navbar-burger {
  color: #fff !important;
}

.logo.container {
  display: flex;
  justify-content: var(--alinhar-logo);
  margin-bottom: 2rem;
}

.logo.container img {
  max-height: 100px;
  transition: all .2s ease-out;
}

.logo.container img:hover {
  transform: scale(1.1) rotate(2.5deg);
}

#ip textarea:not(.is-active) {
  display: none;
}

#ip::before {
  content: 'Copiado';
  position: absolute;
  top: calc(50% - 12px);
  left: -90px;
  color: #fff;
  background-color: #48c774;
  padding: 0 .5rem;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(2px);
  transition: all .25s ease;
}

#ip.is-active::before {
  opacity: 1;
  pointer-events: none;
  transform: translateY(0);
}

main.section,
footer.section {
  padding-top: 0;
  padding-bottom: 2rem;
}

.article:not(:first-child) {
  margin-top: 1.5rem;
}

.article-title {
  background-color: var(--destaque);
  font-size: 1.25rem;
  color: #fff;
  padding: .5rem 1rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.article-title svg {
  margin-right: .25rem;
}

.article-content {
  background-color: #fff;
  padding: 1rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /* min-height: 500px; */
}

.article-thumbnail {
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

article.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--destaque);
  padding: 1rem;
  color: #fff;
  text-align: center;
  border-radius: 5px;
}

a.is-muted {
  color: inherit;
  font-size: .8rem;
  opacity: .5;
}

a.is-muted:hover {
  opacity: 1;
}

.is-spinning {
  animation: spin 2s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

  .navbar-end > .navbar-item:last-child:hover,
  .navbar-end > .navbar-link:last-child:hover {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .container>.navbar .navbar-brand, .navbar>.container .navbar-brand {
    margin-left: 0;
  }

  .container>.navbar .navbar-menu, .navbar>.container .navbar-menu {
    margin-right: 0;
  }
}

@media screen and (max-width: 1023px) {
  .logo.container {
    justify-content: center;
  }

  .navbar-menu {
    background: var(--destaque-escuro);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .navbar-dropdown .navbar-item {
    color: #fff;
  }

  #ip::before {
    left: unset;
    right: .5rem;
  }

  .article-thumbnail {
    height: 200px;
  }
}

@media screen and (max-width: 768px) {
  .equipe li {
    width: 50%;
  }

  .equipe li:nth-child(2n):not(:last-child) {
    margin-bottom: 2rem;
  }