shop.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #484848c8;
  padding: 1rem 1.5rem;
  border-radius: 12px;
  max-height: 460px;
  margin: 10px
}
shop.card .icon {
  width: 85px;
  height: 85px;
}
shop.card img {
  width: 100%;
}
shop.card h3 {
  color: var(--text-color);
  font-size: 19px;
  margin: 10px;
  text-align: center;
  font-family: 'medieval';
}
shop.card span {
  font-weight: 300;
  max-width: 240px;
  font-family: 'medieval';
  color: var(--text-color);
  font-size: 80%;
  margin-bottom: 16px;
}
shop.card button {
  padding: 0.5rem 1rem;
  border: 1.8px solid #fff;
  text-transform: uppercase;
  border-radius: 32px;
  cursor: pointer;
  font-size: 80%;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 16px;
}
shop.card button.shop {
  background: linear-gradient(to right, var(--layout), var(--layout-dark));
}
shop.card button.shop.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
shop.card.shop {
  box-shadow: 20px 20px 50px -30px #afd6ff;
}

#shop {
  border: 1px solid var(--layout-dark);
  padding: 20px;
  border-radius: 13px;
  padding-bottom: 10px;
  box-shadow: 1px 1px 4px var(--layout);
}
#shop .label {
  font-family: none;
  margin: 0 5px;
  font-size: 16px;
  font-weight: bold;
  color: var(--text-color);
}
#shop .form-control {
  color: var(--text-color);
  margin: 5px;
  border-radius: 10px;
  border: 2.3px solid var(--layout-dark) !important;
  background-color: transparent !important;
}
#shop .form-control::placeholder {
  color: #afafaf !important;
}
#shop .input-group-append {
  margin: 5px;
}
#shop .finish {
  padding: 0.5rem 1rem;
  background: linear-gradient(to right, var(--layout), var(--layout-dark));
  border: 1px solid var(--layout-dark);
  text-transform: uppercase;
  border-radius: 32px;
  cursor: pointer;
  margin: 5px !important;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 16px;
}

#shop .coupon {
  padding: 0.5rem;
  background: linear-gradient(to right, var(--layout), var(--layout-dark));
  border: 0.5px solid var(--border-color);
  text-transform: uppercase;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 1px !important;
  font-weight: bold;
  color: var(--text-color);
}
#shop .coupon:hover {
  animation: click-animation 0.2s forwards;
  transform: scale(1.05);
  background: linear-gradient(to bottom, var(--layout), var(--layout-dark));
}
#shop .coupon:disabled {
  background: linear-gradient(to bottom, var(--layout), var(--layout-dark));
  cursor: not-allowed;
  transform: none;
  opacity: 0.3;
}

#shop .terms .body {
  color: var(--text-color);
  margin: 2px;
  text-align: center;
  line-height: 1.5;
  font-size: 10px;
  transition: color 0.25s ease;
}

#shop a {
  color: #b375eccf;
}

#shop .form-group .row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 5px;
  justify-content: space-evenly;
}
#shop .pay-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: none;
  border-radius: 10px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  flex: 1 0 25%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: var(--text-color);
}
#shop .pay-button:not(.disabled):hover {
  transform: scale(0.9);
  opacity: 8;
}
#shop .select {
  transform: scale(0.9);
  opacity: 8;
}
#shop .disabled {
  opacity: 0.3;
  pointer-events: none;
  cursor: not-allowed;
}

#shop .pay-button.pix {
  background-color: #f5f5f5;
  color: #000;
}
#shop .pay-button.mercado-pago {
  background-color: #004B87;
}
#shop .pay-button.paypal {
  background-color: #0070ba;
}
#shop .pay-button.stripe {
  background-color: #635bff;
}
#shop .pay-button.picpay {
  background-color: #00bfae;
}
#shop .pay-button.nubank {
  background-color: #820ad1;
}
#shop .pay-button .icon {
  margin-right: 4px;
  font-size: 16px;
}
#shop .pay-button span {
  display: inline-block;
}

@media (min-width: 760px) {
  #shop-itens {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
}